<a href="https://colab.research.google.com/github/uyuy123/andreanmaulana/blob/main/bf3ec356d58b4c2c82ea4c07e39f1abc_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<table>
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>In [10]:</p>
<p>In [11]:</p>
<p>In [12]:</p>
<p>In [13]:</p>
</blockquote></th>
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p><em># declare the data into dictionary</em><br />
data <strong>=</strong>[<br />
{<br />
"student number":101,<br />
"name":"Andri",<br />
"subject":"Programming Basic",<br />
"grade":80<br />
},<br />
{<br />
"student number":102,<br />
"name":"Budi",<br />
"subject":"Programming Basic",<br />
"grade":90<br />
},<br />
{<br />
"student number":103,<br />
"name":"Cika",<br />
"subject":"Programming Basic",<br />
"grade":100<br />
},<br />
{<br />
"student number":104,<br />
"name":"Dedi",<br />
"subject":"Programming Basic",<br />
"grade":100<br />
},<br />
{<br />
"student number":105,<br />
"name":"Eka",<br />
"subject":"Programming Basic",<br />
"grade":50<br />
},<br />
{<br />
"student number":106,<br />
"name":"Feri",<br />
"subject":"Programming Basic",<br />
"grade":40<br />
},<br />
{<br />
"student number":107,<br />
"name":"Galih",<br />
"subject":"Programming Basic",<br />
"grade":70<br />
},<br />
{<br />
"student number":108,<br />
"name":"Huda",<br />
"subject":"Programming Basic",<br />
"grade":70<br />
},<br />
{<br />
"student number":109,<br />
"name":"Intan",<br />
"subject":"Programming Basic",<br />
"grade":60<br />
},<br />
{<br />
"student number":101,<br />
"name":"Andri",<br />
"subject":"Web Programming",<br />
"grade":70<br />
},<br />
{<br />
"student number":102,<br />
"name":"Budi",<br />
"subject":"Web Programming",<br />
"grade":80<br />
},<br />
{<br />
"student number":103,<br />
"name":"Cika",<br />
"subject":"Web Programming",<br />
"grade":80<br />
},<br />
{<br />
"student number":104,<br />
"name":"Dedi",<br />
"subject":"Web Programming",<br />
"grade":90<br />
},<br />
{<br />
"student number":105,<br />
"name":"Eka",<br />
"subject":"Web Programming",<br />
"grade":90<br />
},<br />
{<br />
"student number":106,<br />
"name":"Feri",<br />
"subject":"Web Programming",<br />
"grade":60<br />
},<br />
{<br />
"student number":107,<br />
"name":"Galih",<br />
"subject":"Web Programming",<br />
"grade":95<br />
},<br />
{<br />
"student number":108,<br />
"name":"Huda",<br />
"subject":"Web Programming",<br />
"grade":85<br />
},<br />
{<br />
"student number":109,<br />
"name":"Intan",<br />
"subject":"Web Programming",<br />
"grade":90<br />
},<br />
]</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>
<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p><em># a function to filter the data item with grade more than
80</em><br />
<strong>def</strong> higherThan80(data):<br />
result <strong>=</strong>[]</p>
<p><strong>for</strong> item <strong>in</strong> data:<br />
<strong>if</strong>
item<strong>.</strong>get("grade")<strong>&gt;</strong>80:<br />
result<strong>.</strong>append(item)</p>
<p><strong>return</strong> result</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>
<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p><em># a function to display the data</em><br />
<strong>def</strong> printData(data):<br />
<strong>for</strong> item <strong>in</strong> data:<br />
print("=====================")<br />
print("Student Number: ", item<strong>.</strong>get("student
number"))<br />
print("Name: ", item<strong>.</strong>get("name"))<br />
print("Subject: ", item<strong>.</strong>get("subject"))<br />
print("Grade: ", item<strong>.</strong>get("grade"))<br />
print("=====================")<br />
print("\n")</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>
<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>print("Data dengan nilai lebih dari 80\n")<br />
printData(higherThan80(data))</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

> Data dengan nilai lebih dari 80
>
> =====================  
> Student Number: 102  
> Name: Budi  
> Subject: Programming Basic  
> Grade: 90  
> =====================
>
> =====================  
> Student Number: 103  
> Name: Cika  
> Subject: Programming Basic  
> Grade: 100  
> =====================
>
> =====================  
> Student Number: 104  
> Name: Dedi  
> Subject: Programming Basic  
> Grade: 100  
> =====================
>
> =====================  
> Student Number: 104  
> Name: Dedi  
> Subject: Web Programming  
> Grade: 90  
> =====================
>
> =====================  
> Student Number: 105  
> Name: Eka  
> Subject: Web Programming  
> Grade: 90  
> =====================
>
> =====================  
> Student Number: 107  
> Name: Galih  
> Subject: Web Programming  
> Grade: 95  
> =====================
>
> =====================  
> Student Number: 108  
> Name: Huda  
> Subject: Web Programming  
> Grade: 85  
> =====================
>
> =====================  
> Student Number: 109  
> Name: Intan  
> Subject: Web Programming  
> Grade: 90  
> =====================

<table>
<colgroup>
<col style="width: 25%" />
<col style="width: 25%" />
<col style="width: 25%" />
<col style="width: 25%" />
</colgroup>
<thead>
<tr class="header">
<th rowspan="2"><blockquote>
<p>In [14]:</p>
<p>In [15]:</p>
<p>Out[15]:</p>
</blockquote></th>
<th colspan="3"><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p><em># import libray pandas and matplotlib</em><br />
<strong>import</strong> pandas <strong>as</strong> pd<br />
<strong>import</strong> matplotlib.pyplot <strong>as</strong> plt</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>
<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p><em># declare pandas DataFrame from the dictionary data</em><br />
dataFrame <strong>=</strong> pd<strong>.</strong>DataFrame(data)</p>
<p><em># student number is unique, so I decided to make it the
index</em><br />
dataFrame <strong>=</strong>
dataFrame<strong>.</strong>set_index("student number")<br />
dataFrame</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
<tr class="odd">
<th><strong>name</strong></th>
<th><strong>subject</strong></th>
<th><blockquote>
<p><strong>grade</strong></p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

> **student number**

<table style="width:100%;">
<colgroup>
<col style="width: 16%" />
<col style="width: 16%" />
<col style="width: 16%" />
<col style="width: 16%" />
<col style="width: 16%" />
<col style="width: 16%" />
</colgroup>
<thead>
<tr class="header">
<th></th>
<th><strong>101</strong></th>
<th>Andri</th>
<th>Programming Basic</th>
<th colspan="2"><blockquote>
<p>80</p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td></td>
<td><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><strong>102</strong></th>
</tr>
</thead>
<tbody>
</tbody>
</table></td>
<td>Budi</td>
<td>Programming Basic</td>
<td colspan="2"><blockquote>
<p>90</p>
</blockquote></td>
</tr>
<tr class="even">
<td></td>
<td><strong>103</strong></td>
<td>Cika</td>
<td>Programming Basic</td>
<td colspan="2"><blockquote>
<p>100</p>
</blockquote></td>
</tr>
<tr class="odd">
<td></td>
<td><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><strong>104</strong></th>
</tr>
</thead>
<tbody>
</tbody>
</table></td>
<td>Dedi</td>
<td>Programming Basic</td>
<td colspan="2"><blockquote>
<p>100</p>
</blockquote></td>
</tr>
<tr class="even">
<td></td>
<td><strong>105</strong></td>
<td>Eka</td>
<td>Programming Basic</td>
<td colspan="2"><blockquote>
<p>50</p>
</blockquote></td>
</tr>
<tr class="odd">
<td></td>
<td><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><strong>106</strong></th>
</tr>
</thead>
<tbody>
</tbody>
</table></td>
<td>Feri</td>
<td>Programming Basic</td>
<td colspan="2"><blockquote>
<p>40</p>
</blockquote></td>
</tr>
<tr class="even">
<td></td>
<td><strong>107</strong></td>
<td>Galih</td>
<td>Programming Basic</td>
<td colspan="2"><blockquote>
<p>70</p>
</blockquote></td>
</tr>
<tr class="odd">
<td></td>
<td><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><strong>108</strong></th>
</tr>
</thead>
<tbody>
</tbody>
</table></td>
<td>Huda</td>
<td>Programming Basic</td>
<td colspan="2"><blockquote>
<p>70</p>
</blockquote></td>
</tr>
<tr class="even">
<td></td>
<td><strong>109</strong></td>
<td>Intan</td>
<td>Programming Basic</td>
<td colspan="2"><blockquote>
<p>60</p>
</blockquote></td>
</tr>
<tr class="odd">
<td></td>
<td><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><strong>101</strong></th>
</tr>
</thead>
<tbody>
</tbody>
</table></td>
<td>Andri</td>
<td><blockquote>
<p>Web Programming</p>
</blockquote></td>
<td colspan="2"><blockquote>
<p>70</p>
</blockquote></td>
</tr>
<tr class="even">
<td></td>
<td><strong>102</strong></td>
<td>Budi</td>
<td><blockquote>
<p>Web Programming</p>
</blockquote></td>
<td colspan="2"><blockquote>
<p>80</p>
</blockquote></td>
</tr>
<tr class="odd">
<td></td>
<td><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><strong>103</strong></th>
</tr>
</thead>
<tbody>
</tbody>
</table></td>
<td>Cika</td>
<td><blockquote>
<p>Web Programming</p>
</blockquote></td>
<td colspan="2"><blockquote>
<p>80</p>
</blockquote></td>
</tr>
<tr class="even">
<td></td>
<td><strong>104</strong></td>
<td>Dedi</td>
<td><blockquote>
<p>Web Programming</p>
</blockquote></td>
<td colspan="2"><blockquote>
<p>90</p>
</blockquote></td>
</tr>
<tr class="odd">
<td></td>
<td><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><strong>105</strong></th>
</tr>
</thead>
<tbody>
</tbody>
</table></td>
<td>Eka</td>
<td><blockquote>
<p>Web Programming</p>
</blockquote></td>
<td colspan="2"><blockquote>
<p>90</p>
</blockquote></td>
</tr>
<tr class="even">
<td></td>
<td><strong>106</strong></td>
<td>Feri</td>
<td><blockquote>
<p>Web Programming</p>
</blockquote></td>
<td colspan="2"><blockquote>
<p>60</p>
</blockquote></td>
</tr>
<tr class="odd">
<td></td>
<td><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><strong>107</strong></th>
</tr>
</thead>
<tbody>
</tbody>
</table></td>
<td>Galih</td>
<td><blockquote>
<p>Web Programming</p>
</blockquote></td>
<td colspan="2"><blockquote>
<p>95</p>
</blockquote></td>
</tr>
<tr class="even">
<td></td>
<td><strong>108</strong></td>
<td>Huda</td>
<td><blockquote>
<p>Web Programming</p>
</blockquote></td>
<td colspan="2"><blockquote>
<p>85</p>
</blockquote></td>
</tr>
<tr class="odd">
<td></td>
<td rowspan="2"><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><strong>109</strong></th>
</tr>
</thead>
<tbody>
</tbody>
</table></td>
<td rowspan="2">Intan</td>
<td rowspan="2"><blockquote>
<p>Web Programming</p>
</blockquote></td>
<td colspan="2" rowspan="2"><blockquote>
<p>90</p>
</blockquote></td>
</tr>
<tr class="even">
<td rowspan="3"><blockquote>
<p>In [16]:</p>
<p>Out[16]:</p>
</blockquote></td>
</tr>
<tr class="odd">
<td colspan="5"><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p><em># adding a new column called `description`</em><br />
<em># the values is conditional based on the grade</em><br />
<em># if the grade is lower than 70 than the description is FAIL,
otherwise it PASS</em><br />
dataFrame["description"]<strong>=</strong>["FAIL"<strong>if</strong>
grade
<strong>&lt;</strong>70<strong>else</strong>"PASS"<strong>for</strong>
grade <strong>in</strong> dataFrame["grade"]]<br />
dataFrame</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></td>
</tr>
<tr class="even">
<td colspan="2"><strong>name</strong></td>
<td><strong>subject</strong></td>
<td><strong>grade</strong></td>
<td><blockquote>
<p><strong>description</strong></p>
</blockquote></td>
</tr>
</tbody>
</table>

> **student number**

<table style="width:100%;">
<colgroup>
<col style="width: 16%" />
<col style="width: 16%" />
<col style="width: 16%" />
<col style="width: 16%" />
<col style="width: 16%" />
<col style="width: 16%" />
</colgroup>
<thead>
<tr class="header">
<th></th>
<th><strong>101</strong></th>
<th>Andri</th>
<th>Programming Basic</th>
<th>80</th>
<th><blockquote>
<p>PASS</p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td></td>
<td><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><strong>102</strong></th>
</tr>
</thead>
<tbody>
</tbody>
</table></td>
<td>Budi</td>
<td>Programming Basic</td>
<td>90</td>
<td><blockquote>
<p>PASS</p>
</blockquote></td>
</tr>
<tr class="even">
<td></td>
<td><strong>103</strong></td>
<td>Cika</td>
<td>Programming Basic</td>
<td><blockquote>
<p>100</p>
</blockquote></td>
<td><blockquote>
<p>PASS</p>
</blockquote></td>
</tr>
<tr class="odd">
<td></td>
<td><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><strong>104</strong></th>
</tr>
</thead>
<tbody>
</tbody>
</table></td>
<td>Dedi</td>
<td>Programming Basic</td>
<td><blockquote>
<p>100</p>
</blockquote></td>
<td><blockquote>
<p>PASS</p>
</blockquote></td>
</tr>
<tr class="even">
<td></td>
<td><strong>105</strong></td>
<td>Eka</td>
<td>Programming Basic</td>
<td>50</td>
<td><blockquote>
<p>FAIL</p>
</blockquote></td>
</tr>
<tr class="odd">
<td></td>
<td><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><strong>106</strong></th>
</tr>
</thead>
<tbody>
</tbody>
</table></td>
<td>Feri</td>
<td>Programming Basic</td>
<td>40</td>
<td><blockquote>
<p>FAIL</p>
</blockquote></td>
</tr>
<tr class="even">
<td></td>
<td><strong>107</strong></td>
<td>Galih</td>
<td>Programming Basic</td>
<td>70</td>
<td><blockquote>
<p>PASS</p>
</blockquote></td>
</tr>
<tr class="odd">
<td></td>
<td><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><strong>108</strong></th>
</tr>
</thead>
<tbody>
</tbody>
</table></td>
<td>Huda</td>
<td>Programming Basic</td>
<td>70</td>
<td><blockquote>
<p>PASS</p>
</blockquote></td>
</tr>
<tr class="even">
<td></td>
<td><strong>109</strong></td>
<td>Intan</td>
<td>Programming Basic</td>
<td>60</td>
<td><blockquote>
<p>FAIL</p>
</blockquote></td>
</tr>
<tr class="odd">
<td></td>
<td><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><strong>101</strong></th>
</tr>
</thead>
<tbody>
</tbody>
</table></td>
<td>Andri</td>
<td>Web Programming</td>
<td>70</td>
<td><blockquote>
<p>PASS</p>
</blockquote></td>
</tr>
<tr class="even">
<td></td>
<td><strong>102</strong></td>
<td>Budi</td>
<td>Web Programming</td>
<td>80</td>
<td><blockquote>
<p>PASS</p>
</blockquote></td>
</tr>
<tr class="odd">
<td></td>
<td><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><strong>103</strong></th>
</tr>
</thead>
<tbody>
</tbody>
</table></td>
<td>Cika</td>
<td>Web Programming</td>
<td>80</td>
<td><blockquote>
<p>PASS</p>
</blockquote></td>
</tr>
<tr class="even">
<td></td>
<td><strong>104</strong></td>
<td>Dedi</td>
<td>Web Programming</td>
<td>90</td>
<td><blockquote>
<p>PASS</p>
</blockquote></td>
</tr>
<tr class="odd">
<td></td>
<td><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><strong>105</strong></th>
</tr>
</thead>
<tbody>
</tbody>
</table></td>
<td>Eka</td>
<td>Web Programming</td>
<td>90</td>
<td><blockquote>
<p>PASS</p>
</blockquote></td>
</tr>
<tr class="even">
<td></td>
<td><strong>106</strong></td>
<td>Feri</td>
<td>Web Programming</td>
<td>60</td>
<td><blockquote>
<p>FAIL</p>
</blockquote></td>
</tr>
<tr class="odd">
<td></td>
<td><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><strong>107</strong></th>
</tr>
</thead>
<tbody>
</tbody>
</table></td>
<td>Galih</td>
<td>Web Programming</td>
<td>95</td>
<td><blockquote>
<p>PASS</p>
</blockquote></td>
</tr>
<tr class="even">
<td></td>
<td><strong>108</strong></td>
<td>Huda</td>
<td>Web Programming</td>
<td>85</td>
<td><blockquote>
<p>PASS</p>
</blockquote></td>
</tr>
<tr class="odd">
<td></td>
<td rowspan="2"><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><strong>109</strong></th>
</tr>
</thead>
<tbody>
</tbody>
</table></td>
<td rowspan="2">Intan</td>
<td rowspan="2">Web Programming</td>
<td rowspan="2">90</td>
<td rowspan="2"><blockquote>
<p>PASS</p>
</blockquote></td>
</tr>
<tr class="even">
<td rowspan="2"><blockquote>
<p>In [19]:</p>
<p>Out[19]:</p>
</blockquote></td>
</tr>
<tr class="odd">
<td colspan="5"><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p><em># make a grouped data frame, grouped by student number and
name,</em><br />
<em># inside it has a column named grade which is the mean of the
student's grade</em><br />
groupedDataFrame <strong>=</strong>
dataFrame<strong>.</strong>groupby(["student
number","name"])["grade"]<strong>.</strong>mean()<strong>.</strong>astype(int)<br />
groupedDataFrame</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>
<blockquote>
<p>student number name<br />
101 Andri 75</p>
</blockquote></td>
</tr>
</tbody>
</table>

> 102 Budi 85  
> 103 Cika 90  
> 104 Dedi 95  
> 105 Eka 70  
> 106 Feri 50  
> 107 Galih 82  
> 108 Huda 77  
> 109 Intan 75  
> Name: grade, dtype: int32

<table>
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>In [23]:</p>
</blockquote></th>
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p><em># make a bar chart</em><br />
axis <strong>=</strong>
groupedDataFrame<strong>.</strong>plot(kind<strong>=</strong>"bar")</p>
<p><em># set the y axis min to 0, and max to 100</em><br />
axis<strong>.</strong>set_ylim([0,100])</p>
<p><em># set the x axis ticks labels to the student name</em><br />
axis<strong>.</strong>set_xticklabels([x<strong>.</strong>get_text()<strong>.</strong>split(',')[1][0:<strong>-</strong>1]<strong>for</strong>
x <strong>in</strong> axis<strong>.</strong>get_xticklabels()])</p>
<p><em># set the axis labels</em><br />
plt<strong>.</strong>xlabel("Name")<br />
plt<strong>.</strong>ylabel("Grade")</p>
<p><em># set the chart title</em><br />
plt<strong>.</strong>title("Mean of Student Grades Values")</p>
<p><em># show or render the chart</em><br />
plt<strong>.</strong>show()</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

> <img
> src="attachment:vertopal_bf3ec356d58b4c2c82ea4c07e39f1abc/media/image1.png"
> style="width:5.94861in;height:5in" />